[tool.poetry]
name = "GQLAlchemy"
version = "1.0.1"
description = "GQLAlchemy is library developed with purpose of assisting writing and running queries on Memgraph."
repository = "https://github.com/memgraph/gqlalchemy"
authors = [
    "Jure Bajic <jure.bajic@memgraph.com>",
    "Josip Mrden <josip.mrden@memgraph.com>",
    "Josip Matak <josip.matak@memgraph.com>",
    "Marko Budiselic <marko.budiselic@memgraph.com>",
]
license = "Apache-2.0"
readme = "README.md"
packages = [{ include = "gqlalchemy" }]

[tool.black]
line-length = 120
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.poetry.dependencies]
python = "^3.8"
pymgclient = "^1.0.0"

[tool.poetry.dev-dependencies]
black = "^21.5b1"
pytest = "^6.2.4"
pytest-black = "^0.3.12"
pytest-flake8 = "^1.0.7"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
