name: Build and Test

env:
  MG_VERSION: "2.3.0"
  POETRY_VERSION: "1.1.4"

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, review_requested, ready_for_review]
  workflow_dispatch:

jobs:
  build_and_test_ubuntu:
    if: github.event.pull_request.draft == false
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9"]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.py-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up pip and install packages
        run: |
          python -m pip install -U pip
          pip install networkx
      - name: Setup poetry
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: ${{ env.POETRY_VERSION }}
      - name: Install Memgraph
        run: |
          pip install networkx
          mkdir /home/runner/memgraph
          curl -L https://download.memgraph.com/memgraph/v${{env.MG_VERSION}}/ubuntu-20.04/memgraph_${{env.MG_VERSION}}-1_amd64.deb --output /home/runner/memgraph/memgraph-community.deb
          sudo dpkg -i /home/runner/memgraph/memgraph-community.deb
          sudo systemctl stop memgraph
          sudo runuser -l memgraph -c '/usr/lib/memgraph/memgraph --bolt-port 7687 --bolt-session-inactivity-timeout=300 --data-directory="/var/lib/memgraph/data" --storage-properties-on-edges=true --storage-snapshot-interval-sec=0 --storage-wal-enabled=false --storage-recover-on-startup=false --storage-snapshot-on-exit=false --telemetry-enabled=false --log-level=TRACE --also-log-to-stderr=true --log-file=/var/log/memgraph/memgraph-ubuntu-${{ matrix.py-version }}.log' &
          sleep 1 # Wait for Memgraph a bit.
      - name: Test project
        run: |
          poetry install
          poetry run pytest -vvv -m "not slow and not ubuntu and not docker"
      - name: Use the Upload Artifact GitHub Action
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: assets-for-download
          path: /var/log/memgraph

  build_and_test_windows:
    if: github.event.pull_request.draft == false
    strategy:
      matrix:
        python-version: ["3.8", "3.9"]
        os: [windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.py-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up pip and install packages
        run: |
          python -m pip install -U pip
          pip install networkx
      - uses: Vampire/setup-wsl@v1
        with:
          distribution: Ubuntu-20.04
      - name: Download, install and run Memgraph under WSL
        shell: wsl-bash {0} # root shell
        run: |
          pip install networkx
          mkdir /memgraph
          curl -L https://download.memgraph.com/memgraph/v${{env.MG_VERSION}}/ubuntu-20.04/memgraph_${{env.MG_VERSION}}-1_amd64.deb --output /memgraph/memgraph-community.deb
          dpkg -i /memgraph/memgraph-community.deb
          mkdir /mnt/c/memgraph
          runuser -l memgraph -c '/usr/lib/memgraph/memgraph --bolt-port 7687 --bolt-session-inactivity-timeout=300 --data-directory="/mnt/c/memgraph/data" --storage-properties-on-edges=true --storage-snapshot-interval-sec=0 --storage-wal-enabled=false --storage-recover-on-startup=false --storage-snapshot-on-exit=false --telemetry-enabled=false --log-level=TRACE --also-log-to-stderr=true --log-file=/mnt/c/memgraph/memgraph-windows-${{ matrix.py-version }}.log' &
          sleep 1 # Wait for Memgraph a bit.
      - name: Setup poetry
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: ${{ env.POETRY_VERSION }}
      - name: Test project
        run: |
          poetry install
          poetry run pytest -vvv -m "not slow and not ubuntu and not docker"
      - name: Use the Upload Artifact GitHub Action
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: assets-for-download
          path: C:\memgraph
